# byte-compiled
__pycache__/

# virtual environments
.venv

# Deployment files
rsconnect-python/

# test files
test.py

# testing output of response
response.json

# configuration file
configuration.conf

rsconnect-python

